<section>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add a Recipe
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <input type="file" name="file" id="file" (change)="uploadImage($event)" >
          <div [hidden]="!uploadPercent">
            <mat-progress-bar mode="determinate" value="{{uploadPercent | async }}" ></mat-progress-bar>
          </div>
          <div [hidden]="!image">
            <img [src]="image || '//:0' ">
          </div>
        </div>


        <mat-form-field>
          <input matNativeControl placeholder="Title" [(ngModel)]="title">
        </mat-form-field> 
        <br>
        <mat-form-field>
          <textarea matNativeControl placeholder="Description" [(ngModel)]="description"></textarea>
        </mat-form-field> 
        <br>
        <mat-form-field>
          <textarea matNativeControl placeholder="Ingredients" [(ngModel)]="ingredients" rows="10" ></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matNativeControl placeholder="Steps" [(ngModel)]="steps" rows="10"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" (click)="addRecipe()" [disabled]="!title || !description || !ingredients || !steps || !image">{{buttonText}}</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>


